[Desktop Entry]
Name=qutebrowser
StartupWMClass=qutebrowser
GenericName=Web Browser
GenericName[en_GB]=Web Browser
Comment=A keyboard-driven, vim-like browser based on PyQt5
Icon=qutebrowser
Type=Application
Categories=Network;WebBrowser;
Exec=qutebrowser %u
Terminal=false
StartupNotify=false
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/qute;
Keywords=Browser
Actions=new-window;preferences;
X-XFCE-Source=file:///usr/share/applications/org.qutebrowser.qutebrowser.desktop

[Desktop Action new-window]
Name=New Window
Name[en_GB]=New Window
Exec=qutebrowser

[Desktop Action preferences]
Name=Preferences
Name[en_GB]=Preferences
Exec=qutebrowser "qute://settings"
