audacity
dconf-editor
devhelp
dex
diffpdf
gimp
ibus-mozc
inkscape
kdeconnect
kitty
krop
libnotify-bin
mpv
pdfarranger
pdfsam
qrencode
quodlibet
rofi
simplescreenrecorder
simple-scan
stellarium
# telegram-desktop
transmission-gtk
xclip
xdotool
xpra
gsmartcontrol
