#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Zotero (AppImage)
GenericName=Zotero
Comment=Zotero
Exec=Zotero-6.0.13_linux-x86_64.AppImage
Type=Application
Terminal=false
Categories=Education;
Keywords=Education;Reseach;PDFs;Documents;
