[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Libinput Click method
Comment=Use multitouch button emulation
Exec=xinput set-prop 'ETPS/2 Elantech Touchpad' 296 0 1
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

