[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Libinput natural scrolling
Comment=Set up natural scrolling in libinput
Exec=xinput --set-prop 'ETPS/2 Elantech Touchpad' 288 1
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

