[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=X Keyboard options
Comment=
Exec=/usr/bin/setxkbmap -option "ctrl:nocaps"
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

