# .gitattributes

dotfiles/vim/colors/*.vim	vendored linguist-vendored
lib/lisp/emacs/**/*.el		vendored linguist-vendored
lib/lisp/emacs/**/*.c		vendored linguist-vendored
lib/lisp/emacs/**/*.h		vendored linguist-vendored
lib/lisp/emacs/**/*.in		vendored linguist-vendored
emacs.d/extras/*.xsl		vendored linguist-vendored
lib/lua/lunajson/*.lua		vendored linguist-vendored
lib/lua/lunajson.lua		vendored linguist-vendored
lib/pandoc-zotxt.lua		vendored linguist-vendored
