# requirements.txt

# See https://www.python.org/dev/peps/pep-0440/#compatible-release for
# what (~=) means.

### General:

distro~=1.3
croniter==1.0.15

### Development tools:

poetry~=0.12
python-language-server~=0.35


#### Elpy:
black==19.10b0
jedi>=0.17.1,<0.18
rope==0.16.0
autopep8==1.5
yapf==0.29
setuptools==44.1.0
flake8==3.7.9


### Sci-py:

numpy~=1.18
seaborn~=0.9                    # data vis, higher-level i/face to matplotlib
matplotlib~=3.2
scipy~=1.4
ipython~=7.13
jupyter~=1.0                    # this is a metapackage!
qtconsole~=4.7                  # for jupyter-qtconsole
jupyterlab~=2.0
statsmodels~=0.11               # estimation of numerous statistical models
pandas~=1.0
sympy~=1.5                      # symbolic maths
# installed initially for haslwanter stats intro
xlrd~=1.2                       # read in Excel files
# pymc~=2.3                       # markov chain monte carlo, bayesian stats
scikit-learn~=0.22
scikits.bootstrap~=1.0
lifelines~=0.24                 # survival analysis?
rpy2~=3.3                       # R bridge

### Linguistics:

# Natural Language processing ToolKit, install data using repl
#    import nltk; nltk.downloader()
# or command line
#    python -m nltk.downloader all
nltk~=3.4

### Qutebrowser:

# For readability userscript.
readability-lxml~=0.8


### Utilities:

pomodoro-calculator~=1.0        # get-pomodori CLI tool
