audacity
calibre
cheese
clipit
dconf-editor
devhelp
dex
diffpdf
gimp
ibus-mozc
inkscape
kdeconnect
kitty
krop
libnotify-bin
liferea
mpv
pdfarranger
pdfsam
qrencode
quodlibet
rofi
simplescreenrecorder
simple-scan
stellarium
telegram-desktop
xclip
xdotool
xpra
chromium
gsmartcontrol
pavucontrol
