[Desktop Entry]
Name=Control Center
Name[af]=Beheersentrum
Name[am]=መቆጣጠሪያ ማእከል 
Name[ar]=مركز التحكّم
Name[as]=Control Center
Name[ast]=Centru de control
Name[be]=Цэнтр кіравання
Name[bg]=Контролен център
Name[bn]=নিয়ন্ত্রণ কেন্দ্র
Name[bn_IN]=Control Center
Name[br]=Kreizenn reoliñ
Name[bs]=Kontrolni Centar
Name[ca]=Centre de control
Name[ca@valencia]=Centre de control
Name[cmn]=控制中心
Name[crh]=Kontrol Merkezi
Name[cs]=Ovládací centrum
Name[cy]=Canolfan rheoli
Name[da]=Kontrolcenter
Name[de]=Steuerzentrale
Name[dz]=ཚད་འཛིན་ལྟེ་བ་
Name[el]=Κέντρο ελέγχου
Name[en_AU]=Control Centre
Name[en_GB]=Control Center
Name[es]=Centro de control
Name[et]=Juhtimiskeskus
Name[eu]=Kontrol-zentroa
Name[fi]=Hallintakeskus
Name[fr]=Centre de contrôle
Name[frp]=Centro de controlo
Name[ga]=Lárionad Rialaithe
Name[gl]=Centro de control
Name[gu]=નિયંત્રણ કેન્દ્ર
Name[he]=מרכז הבקרה
Name[hi]=नियंत्रण केंद्र
Name[hr]=Nadzorno središte
Name[hu]=Vezérlőpult
Name[hy]=Վերահսկիչ Կենտրոն
Name[id]=Pusat Pengaturan
Name[is]=Stjórnborð
Name[it]=Centro di controllo
Name[ja]=コントロールセンター
Name[ka]=მართვის ცენტრი
Name[kk]=Басқару орталығы
Name[kn]=ನಿಯಂತ್ರಣ ಕೇಂದ್ರ
Name[ko]=제어 센터
Name[ku_IQ]=ناوەندی سەرپەرشتی
Name[ky]=Башкаруу борбору
Name[lt]=Valdymo centras
Name[lv]=Kontroles centrs
Name[mai]=नियंत्रण केंद्र
Name[mk]=Контролен центар
Name[ml]=നിയന്ത്രണകേന്ദ്രം
Name[mr]=नियंत्रण केंद्र
Name[ms]=Pusat Kawalan
Name[nb]=Kontrollsenter
Name[nds]=Kontrollzentrum
Name[ne]=नियन्त्रण केन्द्र
Name[nl]=Instellingencentrum
Name[nn]=Kontrollsenter
Name[oc]=Centre de contraròtle
Name[or]=ନିୟନ୍ତ୍ରଣ କେନ୍ଦ୍ର
Name[pa]=ਕੰਟਰੋਲ ਕੇਂਦਰ
Name[pl]=Centrum sterowania
Name[pt]=Centro de Controlo
Name[pt_BR]=Centro de controle
Name[ro]=Centrul de control
Name[ru]=Центр управления
Name[sk]=Ovládacie centrum
Name[sl]=Nadzorno središče
Name[sq]=Qendra e kontrollit
Name[sr]=Управљачки центар
Name[sr@latin]=Upravljački centar
Name[sv]=Kontrollpanel
Name[ta]=கட்டுப்பாட்டு மையம்
Name[te]=నియంత్రణా కేంద్రం
Name[th]=ศูนย์ควบคุม
Name[tr]=Kontrol Merkezi
Name[ug]=باشقۇرۇش مەركىزى
Name[uk]=Центр керування
Name[ur]=کنٹرول سینٹر
Name[uz]=Boshqaruv markazi
Name[vi]=Trung tâm điều khiển
Name[zh_CN]=控制中心
Name[zh_HK]=控制中心
Name[zh_TW]=控制中心
GenericName=The MATE configuration tool
GenericName[af]=Die MATE-konfigurasieprogram
GenericName[am]=የ ሜት ማሰናጃ መሳሪያ
GenericName[ar]=أداة إعداد متّة
GenericName[as]=MATE বিন্যাস প্ৰক্ৰিয়া
GenericName[ast]=Ferramienta de configuración de MATE
GenericName[az]=MATE quraşdırma avadanlığı
GenericName[be]=Сродак настáўлення MATE
GenericName[bg]=Инструмент за настройки на MATE
GenericName[bn]=MATE কনফিগারেশন প্রক্রিয়া
GenericName[bn_IN]=MATE কনফিগারেশন ব্যবস্থা
GenericName[bs]=MATE alat za podešavanje
GenericName[ca]=L'eina de configuració de MATE
GenericName[ca@valencia]=L'eina de configuració del MATE
GenericName[cmn]=MATE 設定工具
GenericName[crh]=MATE yapılandırma aracı
GenericName[cs]=Nástroj na nastavení prostředí MATE
GenericName[cy]=Yr erfyn cyfluniad MATE
GenericName[da]=Et centralt opsætningsværktøj til Mate
GenericName[de]=Das MATE-Konfigurationswerkzeug
GenericName[dz]=ཇི་ནོམ་རིམ་སྒྲིག་ལག་ཆས།
GenericName[el]=Το εργαλείο ρύθμισης του MATE
GenericName[en_AU]=The MATE configuration tool
GenericName[en_CA]=The MATE configuration tool
GenericName[en_GB]=The MATE configuration tool
GenericName[es]=La herramienta de configuración de MATE
GenericName[es_AR]=La herramienta de configuración de MATE
GenericName[et]=MATE seadistusprogramm
GenericName[eu]=MATEren konfigurazio-tresna
GenericName[fa]=ابزار پیکربندی گنوم
GenericName[fi]=Maten hallintatyökalu
GenericName[fr]=L'outil de configuration de MATE
GenericName[ga]=An t-uirlis cumraíochta MATE
GenericName[gl]=A ferramenta de configuración do MATE
GenericName[gu]=જીનોમ રૂપરેખાનું સાધન
GenericName[he]=כלי ההגדרה של MATE
GenericName[hi]=गनोम कॉन्फ़िगरेशन उपकरण
GenericName[hr]=Pomagalo za raspoređivanje MATE-a
GenericName[hu]=A MATE beállítóeszköze
GenericName[hy]=MATE կազմաձևման գործիք
GenericName[id]=Perkakas konfigurasi MATE
GenericName[is]=MATE stillingatækið
GenericName[it]=Strumento di configurazione per MATE
GenericName[ja]=MATE デスクトップの設定ツール
GenericName[ka]=გნომის კონფიგურაციის ხელსაწყო
GenericName[kk]=MATE баптаулар сайманы
GenericName[kn]=MATE ಸಂರಚನಾ ಉಪಕರಣ
GenericName[ko]=마테 설정 도구
GenericName[ku]=Amûra veavakirinan ya MATE
GenericName[ky]=MATE чөйрөсүнүн ырастоо аспабы
GenericName[lt]=MATE konfigūravimo įrankis
GenericName[lv]=MATE konfigurācijas rīks
GenericName[mai]=गनोम विन्यास अओजार
GenericName[mg]=Ny fitaovana fikirakiran'ny MATE
GenericName[mk]=Алатка за конфигурирање на MATE
GenericName[ml]=ഗ്നോമിലെ ക്രമീകരണത്തിനുള്ള പണിയായുധം
GenericName[mn]=MATE-тохируулгын хэрэгсэл
GenericName[mr]=MATE
GenericName[ms]=Alat Konfigurasi MATE
GenericName[nb]=Konfigurasjonsverktøy for MATE
GenericName[nds]=MATE-Konfiguratschoonswarktügg
GenericName[ne]=जिनोम कन्फिगरेसन उपकरण
GenericName[nl]=Het Mate-configuratieprogramma
GenericName[nn]=Oppsettsverktøy for MATE
GenericName[nso]=Sedirišwa sa go fetola sebopego sa MATE
GenericName[oc]=L'aisina de configuracion de MATE
GenericName[or]=MATE କନଫିଗରେସନ୍ ଉପକରଣ
GenericName[pa]=ਗਨੋਮ ਸੰਰਚਨਾ ਟੂਲ
GenericName[pl]=Narzędzie konfiguracji środowiska MATE
GenericName[pt]=A ferramenta de configuração MATE
GenericName[pt_BR]=Ferramenta de Configuração do MATE
GenericName[ro]=Unealtă de configurare MATE
GenericName[ru]=Утилита настройки среды MATE
GenericName[sk]=Nástroj pre nastavenie MATE
GenericName[sl]=Nastavitveno orodje MATE-a.
GenericName[sq]=Instrument konfigurimi për MATE
GenericName[sr]=Мејтов алат за подешавања
GenericName[sr@latin]=Gnomov alat za podešavanje
GenericName[sv]=Konfigurationsverktyget för MATE
GenericName[ta]=கனோம் அமைவடிவு கருவி
GenericName[te]=MATE ఆకృతీకరణ సాధనం
GenericName[th]=เครื่องมือปรับแต่งระบบของ MATE
GenericName[tr]=MATE yapılandırma aracı
GenericName[ug]=MATE سەپلىمە قورالى
GenericName[uk]=Засіб налаштовування MATE
GenericName[ur]=میٹ تشکیل اوزار
GenericName[uz]=MATE moslash vositasi
GenericName[vi]=Công cụ cấu hình MATE
GenericName[wa]=L' usteye d' apontiaedje di MATE
GenericName[xh]=Isixhobo sokumiselwa kwe-MATE
GenericName[zh_CN]=MATE 配置工具
GenericName[zh_HK]=MATE 設定工具
GenericName[zh_TW]=MATE 設定工具
GenericName[zu]=Ithulusi lokumisa lwe-MATE
Comment=Configure MATE settings
Comment[am]=የ ሜት ማሰናጃዎች ማሰናጃ
Comment[bg]=Настройване на MATE
Comment[ca]=Configureu els ajusts de MATE
Comment[ca@valencia]=Configureu els ajusts del MATE
Comment[cs]=Konfigurace nastavení MATE
Comment[da]=Konfigurer MATE-indstillinger
Comment[de]=MATE-Einstellungen konfigurieren
Comment[el]=Διαμόρφωση ρυθμίσεων ΜΑΤΕ
Comment[en_GB]=Configure MATE settings
Comment[es]=Cofigurar los ajustes de MATE
Comment[fr]=Configurer les paramètres de MATE
Comment[gl]=Configurar os axuste do MATE
Comment[hr]=Konfigurirajte MATE postavke
Comment[hu]=MATE beállítása
Comment[it]=Configura impostazioni di MATE
Comment[ko]=마테 설정 구성
Comment[lt]=Konfigūruoti MATE nustatymus
Comment[ms]=Konfigur tetapan MATE
Comment[nb]=Sett opp MATE-innstillinger
Comment[nl]=Instellingen van MATE configureren
Comment[pl]=Konfiguruj ustawienia MATE
Comment[pt]=Configurar definições do MATE
Comment[pt_BR]=Configurar o MATE
Comment[ru]=Настройка параметров MATE
Comment[sk]=Konfiguruje nastavenia prostredia MATE
Comment[sl]=MATE nastavitve
Comment[sr]=Уредите Мејтова подешавања
Comment[sv]=Konfigurera MATE-inställningar
Comment[tr]=MATE ayarlarını yapılandır
Comment[uk]=Налаштування параметрів MATE
Comment[zh_CN]=调整 MATE 设置
Comment[zh_TW]=設定 MATE
Icon=preferences-desktop
Exec=mate-control-center
Terminal=false
Type=Application
StartupNotify=false
Categories=GTK;Settings;
Keywords=MATE;control;center;configuration;tool;destop;preferences;
OnlyShowIn=MATE;
