# -*- mode: snippet -*-
# name: statefulwidget
# key: sw
# --

class ${1:WidgetName}State extends State<$1> {
  @override
  Widget build(BuildContext context) {
    $0
  \}
}

class $1 extends StatefulWidget {
  @override
  $1State createState() => new $1State();
}