audacity
cheese
clipit
dconf-editor
devhelp
dex
diffpdf
fcitx-table-ipa-x-sampa
gimp
gsmartcontrol
ibus-mozc
inkscape
kdeconnect
kitty
krop
libnotify-bin
libreoffice
liferea
mpv
pdf-presenter-console
pdfarranger
pdfsam
qrencode
quodlibet
rofi
simplescreenrecorder
simple-scan
stellarium
transmission-gtk
virtualbox-qt
xclip
xdotool
xpra
