# packages.list.example --- example for install-packages.py -*- mode: python -*-

packages = {
    "group1": [
        "package1",
        "package2"
    ],
    # if a group will have subgroups, it can’t have packages in it,
    # it’s just a group of groups:
    "another-group": {
        "a-subgroup": [
            "package3",
            "package4",
            # package with alternatives, tuple where first item is the
            # abstract name, the second item a hash mapping distros to
            # package names:
            ("abspackage1",
             {"arch": "arch-package1",
              "debian": "debian-package1"}),
            # package with alternatives where some alternatives share
            # a name.
            ("abspackage2",
             {("debian", "ubuntu"): "debian-package2",
              "arch": "arch-package2"})
        ]
    }
}
