[Desktop Entry]
Type=Application
Exec=appimaged-x86_64.AppImage --no-install
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_GB]=AppImaged
Comment[en_GB]=AppImage Daemon
X-GNOME-Autostart-Delay=0
