[Desktop Entry]
Name=GNU Emacs (gk)
GenericName=Mother of all programs
Comment=Conquer the world
Exec=emacs-maybe-client.bash
Icon=emacs.png
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupWMClass=Emacs
Keywords=Text;Editor;Lisp;
Actions=new-window;load-project;

[Desktop Action new-window]
Name=Open a New Client Frame
Exec=emacsclient -c

[Desktop Action load-project]
Name=Open a New Client Frame for Project
Exec=gk-open-project.bash
