[Desktop Entry]
Name=Liferea
Name[ar]=لايفريا
Name[ast]=Liferea
Name[be@latin]=Liferea
Name[bg]=Събирач на RSS емисии (Liferea)
Name[ca]=Liferea
Name[cs]=Liferea
Name[da]=Liferea
Name[de]=Liferea
Name[el]=Liferea
Name[es]=Liferea
Name[eu]=Liferea
Name[fi]=Liferea
Name[fr]=Liferea
Name[gl]=Liferea
Name[he]=‫Liferea
Name[hu]=Liferea
Name[id]=Liferea
Name[it]=Liferea
Name[ja]=Liferea
Name[lt]=Liferea
Name[lv]=Liferea
Name[nl]=Liferea
Name[pl]=Liferea
Name[pt]=Liferea
Name[pt_BR]=Liferea
Name[ro]=Liferea
Name[ru]=Liferea
Name[sk]=Liferea
Name[sq]=Liferea
Name[sv]=Liferea
Name[tr]=Liferea
Name[uk]=Liferea
Name[vi]=Liferea
Name[zh_CN]=Liferea
GenericName=Feed Reader
GenericName[ar]=قارئ تلقيمات
GenericName[ast]=Llector de noticies
GenericName[be@latin]=Hartač RSS
GenericName[ca]=Lector de canals de notícies
GenericName[cs]=Čtečka kanálů
GenericName[da]=Nyhedslæser
GenericName[de]=Feedreader
GenericName[el]=Ανάγνωση ροών
GenericName[es]=Lector de noticias
GenericName[eu]=Iturri irakurlea
GenericName[fi]=Syötteenlukija
GenericName[fr]=Lecteur de flux
GenericName[gl]=Lector de fontes
GenericName[he]=קורא ערוצים
GenericName[hu]=Hírforrásolvasó
GenericName[id]=Pembaca Feed
GenericName[it]=Lettore notiziari
GenericName[ja]=フィード・リーダ
GenericName[lt]=Naujienų kanalų skaitytuvė
GenericName[lv]=Plūsmu lasītājs
GenericName[nl]=Feedlezer
GenericName[pl]=Czytnik wiadomości
GenericName[pt]=Leitor de Fontes
GenericName[pt_BR]=Leitor de Fontes de Notícias
GenericName[ro]=Cititor fluxuri
GenericName[ru]=Приложение для чтения новостей
GenericName[sk]=Čítačka kanálov
GenericName[sq]=Lexues Prurjesh
GenericName[sv]=Nyhetsläsare
GenericName[tr]=Besleme Okuyucu
GenericName[uk]=Програма для читання подач
GenericName[vi]=Bộ đọc Feed
GenericName[zh_CN]=Feed 阅读器
X-GNOME-FullName=Liferea Feed Reader
X-GNOME-FullName[ar]=قارئ التلقيمات لايفريا
X-GNOME-FullName[ast]=Liferea, llector de noticies
X-GNOME-FullName[be@latin]=Hartač RSS Liferea
X-GNOME-FullName[ca]=Lector de canals de notícies Liferea
X-GNOME-FullName[cs]=Čtečka kanálů Liferea
X-GNOME-FullName[da]=Liferea - Nyhedslæser
X-GNOME-FullName[de]=Liferea Feedreader
X-GNOME-FullName[el]=Ανάγνωση ροών Liferea
X-GNOME-FullName[es]=Lector de noticias Liferea
X-GNOME-FullName[eu]=Liferea iturri irakurlea
X-GNOME-FullName[fi]=Liferea-syötteenlukija
X-GNOME-FullName[fr]=Lecteur de flux Liferea
X-GNOME-FullName[gl]=Lector de fontes Liferea
X-GNOME-FullName[he]=קורא ערוצים Liferea
X-GNOME-FullName[hu]=Liferea hírforrásolvasó
X-GNOME-FullName[id]=Pembaca Feed Liferea
X-GNOME-FullName[it]=Lettore notiziari Liferea
X-GNOME-FullName[ja]=Liferea フィード・リーダ
X-GNOME-FullName[lt]=Liferea naujienų kanalų skaitytuvė
X-GNOME-FullName[lv]=Liferea plūsmu lasītājs
X-GNOME-FullName[nl]=Liferea Feed Reader
X-GNOME-FullName[pl]=Czytnik wiadomości RSS Liferea
X-GNOME-FullName[pt]=Leitor de Fontes Liferea
X-GNOME-FullName[pt_BR]=Agregador de Notícias Liferea
X-GNOME-FullName[ro]=Cititor fluxuri Liferea
X-GNOME-FullName[ru]=Приложение для чтения новостей Liferea
X-GNOME-FullName[sk]=Liferea - čítačka kanálov
X-GNOME-FullName[sq]=Lexuesi i Prurjeve Liferea
X-GNOME-FullName[sv]=Liferea nyhetsläsare
X-GNOME-FullName[tr]=Liferea Besleme Okuyucu
X-GNOME-FullName[uk]=Програма для читання подач Liferea
X-GNOME-FullName[vi]=Bộ đọc Feed Liferea
X-GNOME-FullName[zh_CN]=Lifera Feed 阅读器
Comment=Read news feeds and blogs
Comment[ar]=اقرأ تلقيمات الأخبار و المدونات
Comment[ca]=Llegiu canals de notícies i blocs
Comment[cs]=Čtění zpravodajských kanálů a blogů
Comment[da]=Læs nyheds- og blogkilder
Comment[de]=News-Feeds und Blogs lesen
Comment[es]=Lector de canales de noticias y blogs
Comment[eu]=Irakurri berri jarioak eta blogak
Comment[fi]=Lue uutissyötteitä ja blogeja
Comment[fr]=Lecteurs de nouvelles et de blogs
Comment[he]=קרא ערוצי חדשות ובלוגים
Comment[hu]=Hírforrások és blogok olvasása
Comment[id]=Baca feed berita dan blog
Comment[it]=Leggi notizie e blog
Comment[lv]=Lasīt ziņu plūsmas un blogus
Comment[nl]=Nieuwsfeeds en blogs lezen
Comment[pl]=Odczytuje zawartość kanałów wiadomości i blogów
Comment[pt_BR]=Leia fontes de notícias e blogs
Comment[ru]=Читайте ленты новостей и блоги
Comment[sq]=Lexoni blogje dhe prurje lajmesh
Comment[sv]=Läs nyhetsflöden och bloggar
Comment[tr]=Haber beslemelerini ve blogları oku
Comment[uk]=Читання подач новин та блогів
Comment[vi]=Đọc các tin mới và blog
Keywords=news;feed;aggregator;blog;podcast;syndication;rss;atom
Exec=liferea %U
DBusActivatable=true
Icon=liferea
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;News;
X-Ubuntu-Gettext-Domain=liferea
Version=1.1
MimeType=application/rss+xml;application/atom+xml;application/rdf+xml;x-scheme-handler/feed
