[Desktop Entry]
Version=1.0
Name=Pomodorino
Name[tr]=Pomodorino
Name[it]=Pomodorino
Comment=Simple Pomodoro timer
Comment[tr]=Semplice Timer Pomodoro
Comment[it]=Basit Pomodoro Kronometresi
GenericName=Pomodoro timer
GenericName[tr]=Timer Pomodoro
GenericName[it]=Pomodoro Kronometresi
Exec=pomodorino
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=com.gkayaalp.pomodorino
Categories=Utility;Office;Education;Clock;GNOME;GTK;
StartupNotify=true
