audacity
cheese
clipit
dconf-editor
devhelp
dex
diffpdf
gimp
gsmartcontrol
ibus-mozc
inkscape
kdeconnect
kitty
krop
libnotify-bin
libreoffice
mpv
pdfarranger
pdfsam
qrencode
quodlibet
rofi
simplescreenrecorder
simple-scan
stellarium
transmission-gtk
virtualbox-qt
xclip
xdotool
xpra
