[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=MailReader
X-XFCE-CommandsWithParameter=/home/g/.emacs.d/extras/mailto.el "%s"
Icon=mailto.el
Name=mailto.el
X-XFCE-Commands=/home/g/.emacs.d/extras/mailto.el

