[Desktop Entry]
Name=GNU Emacs (gk)
GenericName=Mother of all programs
Comment=Conquer the world
Exec=emacs
Icon=/home/g/local/emacs/share/icons/hicolor/128x128/apps/emacs.png
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupWMClass=Emacs
Keywords=Text;Editor;Lisp;
