[Desktop Entry]
Categories=Office;Network;Email;
Comment=Emacsclient for mailto links
Exec=emacsclient -eval '(mu4e~compose-browse-url-mail "%u")'
Icon=emacs
Name=emacsclient-mailto
MimeType=x-scheme-handler/mailto;
NoDisplay=false
Terminal=false
Type=Application
