[Desktop Entry]
Categories=Office;Network;Email;
Comment=Emacsclient for mailto links
Exec=%h/cf/emacs.d/extras/mailto.el
Icon=emacs
Name=emacsclient-mailto
MimeType=x-scheme-handler/mailto;
NoDisplay=false
Terminal=false
Type=Application
