[Desktop Entry]
Name=Firefox (gk)
Comment=Browse the World Wide Web
GenericName=Web Browser
X-GNOME-FullName=Firefox Quantum Web Browser
Exec=/home/g/Applications/firefox/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/g/Applications/firefox/browser/chrome/icons/default/default128.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox
StartupNotify=true
