[Desktop Entry]
Version=1.0
Name=Firefox Quantum (gk)
Comment=Firefox from the Mozilla release
Exec=/igk/apps/firefox/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/igk/apps/firefox/browser/chrome/icons/default/default128.png
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
Actions=NewWindow;NewPrivateWindow;
