[Desktop Entry]
Name=RStudio
GenericName=R Programming Environment
Comment=R Programming Environment
Exec=/home/g/Applications/rstudio-1.4.1106/bin/rstudio
Icon=/home/g/Applications/rstudio-1.4.1106/rstudio.png
Type=Application
Terminal=false
Categories=Development;IDE;
Keywords=Text;Editor;R;
