[Desktop Entry]
Name=VSCodium
GenericName=VSCodium
Comment=Liberated version of Microsoft's VSCode
Exec=/igk/apps/vscodium/vscodium
Icon=/igk/apps/vscodium/resources/app/resources/linux/code.png
Type=Application
Terminal=false
Categories=Development;TextEditor;
Keywords=Text;Editor;
