#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Zotero
GenericName=Zotero
Comment=Zotero
Exec=/home/g/opt/zotero/zotero
Icon=/home/g/opt/zotero/chrome/icons/default/default256.png
Type=Application
Terminal=false
Categories=Education;
Keywords=Education;Reseach;PDFs;Documents;
