# -*- mode: snippet -*-
# name: assignment
# key: asmt
# --

#+title: Assignment: ${1:Title}

* $1
:export-setup:
#+subtitle: ${2:Subtitle}
#+author: İsmail Göktuğ Kayaalp
#+date: `(format-time-string "%d %b %Y")`
#+language: english
#+include: ~/Notes/Templates/org/Assignment.org
#+latex_header_extra: \addbibresource{./`(car (last (split-string default-directory "/" t)))`.bib}
:end:

$0

* References
{{{bibs}}}
