# -*- mode: snippet -*-
# name: ling-tree
# key: ltree
# --

#+BEGIN_EXPORT latex
\begin{center}
\begin{tikzpicture}
\tikzset{every tree node/.style={align=center,anchor=north}}

\Tree $0

\end{tikzpicture}
\end{center}
#+END_EXPORT