# jupyterlab.service
# Adapted from https://gist.github.com/willprice/898e73f62c9e9b038cc25e3e6e09aaab

[Unit]
Description=Jupyter Lab Server

[Service]
ExecStart=%h/.local/bin/jupyter lab --no-browser --port=8889
WorkingDirectory=%h/Notes

[Install]
WantedBy=default.target
