[Unit]
Description=Ruby RI RDoc server
Documentation=man:ri(1)

[Service]
ExecStart=/home/g/.gem/bin/ri --server=9394 2>/home/g/log/ri-server.log
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=default.target
