[Desktop Entry]
Type=Application
Exec=clipit
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_GB]=ClipIt
Name=ClipIt
Comment[en_GB]=Clipboard Manager
Comment=Clipboard Manager
