[Desktop Entry]
Name=GNU Emacs (gk)
GenericName=Mother of all programs
Comment=Conquer the world
Exec=/home/g/local/emacs/bin/emacs --debug-init
Icon=/home/g/local/emacs/share/icons/hicolor/128x128/apps/emacs.png
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupWMClass=Emacs
Keywords=Text;Editor;Lisp;
Actions=new-window;load-project;
X-XFCE-Source=file:///home/g/.local/share/applications/emacs.desktop

[Desktop Action new-window]
Name=Open a New Client Frame
Exec=emacsclient -c %f

[Desktop Action load-project]
Name=Open a New Client Frame for Project
Exec=gk-open-project.bash
