[Desktop Entry]
Name[en_GB]=Simple Scan
Name=Simple Scan
GenericName[en_GB]=Document Scanner
GenericName=Document Scanner
Comment[en_GB]=Scan Documents
Comment=Scan Documents
Keywords[en_GB]=scan;scanner;flatbed;adf;
Keywords=scan;scanner;flatbed;adf;
Exec=simple-scan
Icon=scanner
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;Scanning;
X-XFCE-Source=file:///usr/share/applications/simple-scan.desktop
